
<div class="app-container">
  <h2>Sales Tax Calculator</h2>

  <div class="basket-options">
    <button (click)="prefillBasketOne()">Basket 1</button>
    <button (click)="prefillBasketTwo()">Basket 2</button>
    <button (click)="prefillBasketThree()">Basket 3</button>
  </div>  

  <div class="available-items-list">
    <div *ngFor="let item of availableItems" class="available-item">
      <button (click)="selectionMade(item)">Select</button>
      <span class="item-name">{{item.name}}</span>
      <span class="item-price">{{item.price | currency}}</span> 
    </div>
  </div>

  <button (click)="resetSelections()">Reset Selection</button>

  <h3>{{checkedOut ? 'Purchased' : 'Selected'}} Items:</h3>
  <div *ngFor="let item of selectedItemsList$ | async" class="selected-item">
    <button (click)="selectionRemoved(item)">Remove</button>
    <span class="item-name">{{item.name}}:</span>
    <span class="item-price">{{checkoutPrice(item) | currency}}</span>
  </div>
  <div *ngIf="checkedOut" class="selected-item">
    <span class="item-name">Sales Taxes:</span>
    <span class="item-price">{{totalTaxes | currency}}</span>
  </div>
  <div *ngIf="checkedOut" class="selected-item">
    <span class="item-name">Total:</span>
    <span class="item-price">{{finalTotal | currency}}</span>
  </div>

  <button *ngIf="!checkedOut" (click)="checkout()">Checkout</button>
</div>
